<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="java.naming.factory.initial">com.sun.jndi.fscontext.RefFSContextFactory</entry>
<entry key="java.naming.provider.url">file:///C:/Temp</entry>
<entry key="ca.concordia.cse.gipsy.gee.dms.jms.factory.lookup.name">MyQueueConnectionFactory</entry>
<entry key="ca.concordia.cse.gipsy.gee.dms.jms.demand.queue.lookup.name">MyQueue</entry>
<entry key="ca.concordia.cse.gipsy.gee.dms.jms.result.queue.lookup.name">results</entry>
</properties>
