/* Security policy for non-secure Mahalo */
/* Grant all permissions to our classes */

grant 
{
    permission java.security.AllPermission;
};