<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<!-- -->
<entry key="ca.concordia.cse.gipsy.tests.gee.dms.simulator.demanddispatcher">gipsy.GEE.IDP.DemandGenerator.ws.WSDemandDispatcher</entry>

<!-- 
<entry key="ca.concordia.cse.gipsy.tests.gee.dms.simulator.demanddispatcher">gipsy.GEE.IDP.DemandGenerator.jms.JMSDemandDispatcher</entry>
-->
<!-- 
<entry key="ca.concordia.cse.gipsy.tests.gee.dms.simulator.transportagent">gipsy.GEE.IDP.DemandGenerator.jini.rmi.JINITransportAgentProxy</entry>
-->
<!-- -->
<entry key="ca.concordia.cse.gipsy.tests.gee.dms.simulator.transportagent">gipsy.GEE.IDP.DemandGenerator.jini.rmi.JINITA</entry>

<!-- 
<entry key="ca.concordia.cse.gipsy.tests.gee.dms.simulator.transportagent">gipsy.GEE.IDP.DemandGenerator.jms.JMSTransportAgent</entry>
-->
</properties>
